<ion-view view-title="{{ 'SEARCH' | translate }}" class="search">

    <!--<ion-nav-bar class="bar-positive" align-title="center">-->
        <!--<ion-nav-back-button class="button button-icon button-clear ion-chevron-left">-->
    <!--</ion-nav-bar>-->

    <ion-header-bar class="bar bar-subheader bar-positive item-input-inset input-bar">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="query.username" ng-model-options="{debounce: 300}">
        </label>
    </ion-header-bar>

    <ion-content class="has-subheader friends">

        <ion-list ng-if="noFriends">
            <ion-item class="item-avatar friend" ng-repeat="user in users">
                <user-item user="user"></user-item>
            </ion-item>
        </ion-list>

        <ion-list ng-if="!noFriends">
            <ion-item class="item item-divider" ng-if="users.length > 0">
                Найдено в Fastmit
            </ion-item>
            <ion-item class="item-avatar friend" ng-repeat="user in users">
                <user-item user="user"></user-item>
            </ion-item>
            <ion-item class="item item-divider" ng-if="friends.length > 0">
                Друзья
            </ion-item>
            <ion-item class="item-avatar friend"
                      ng-repeat="friend in friends"
                      ng-href="{{friend.chatUrl}}"
                      ui-sref-active>
                <friend-item friend="friend"></friend-item>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>