<ion-view view-title="{{ 'SEARCH' | translate }}" class="search">

    <!--<ion-nav-bar class="bar-positive" align-title="center">-->
        <!--<ion-nav-back-button class="button button-icon button-clear ion-chevron-left">-->
    <!--</ion-nav-bar>-->

    <ion-header-bar class="bar bar-subheader bar-positive item-input-inset input-bar">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="query.username">
        </label>
    </ion-header-bar>

    <ion-content class="has-subheader friends">

        <ion-list ng-if="noFriends">
            <div ng-repeat="user in users">
                <user-item user="user"></user-item>
            </div>
        </ion-list>

        <ion-list ng-if="!noFriends">
            <div class="item item-divider">
                Найдено в Fastmit
            </div>
            <div ng-repeat="user in users">
                <user-item user="user"></user-item>
            </div>
            <div class="item item-divider">
                Друзья
            </div>
            <div ng-repeat="friend in friends">
                <friend-item friend="friend"></friend-item>
            </div>
        </ion-list>

    </ion-content>
</ion-view>