<ion-view view-title="{{ 'FRIENDS' | translate }}">

    <ion-nav-buttons side="secondary">
        <a class="button button-icon button-clear ion-search" href="#/app/search"></a>
    </ion-nav-buttons>

    <ion-tabs class="tabs-stable tabs-striped tabs-top friends">

        <ion-tab title="{{friendsCount + ' ' + ( 'ALL_FRIENDS' | translate )}}" href="#/app/friends/all">
            <ion-nav-view name="friendsAll"></ion-nav-view>
        </ion-tab>

        <ion-tab title="{{onlineFriendsCount + ' ' + ( 'ONLINE_FRIENDS' | translate )}}" href="#/app/friends/online">
            <ion-nav-view name="friendsOnline"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>