<ion-view view-title="{{ 'FRIENDS' | translate }}" class="friends">

    <ion-nav-buttons side="secondary">
        <a class="button button-icon button-clear ion-android-search" href="#/app/search/"></a>
    </ion-nav-buttons>

    <ion-tabs class="tabs-stable tabs-striped tabs-top friend-tabs">

        <ion-tab title="{{friends.friends.length + ' ' + ( 'ALL_FRIENDS' | translate )}}">
            <!--<ion-nav-view name="friendsAll"></ion-nav-view>-->
            <ion-content class="friend-tab">
                <ion-list delegate-handle="friends"
                          can-swipe="true">
                    <ion-item
                            class="item-avatar friend"
                            ng-repeat="friend in friends.friends"
                            ng-href="{{friend.chatUrl}}"
                            ui-sref-active>
                        <friend-item friend="friend"></friend-item>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>

        <ion-tab title="{{onlineFriends.length + ' ' + ( 'ONLINE_FRIENDS' | translate )}}">
            <!--<ion-nav-view name="friendsOnline"></ion-nav-view>-->
            <ion-content class="friend-tab">
                <ion-list delegate-handle="friends"
                          can-swipe="true">
                    <ion-item
                            class="item-avatar friend"
                            ng-repeat="friend in onlineFriends"
                            ng-href="{{friend.chatUrl}}"
                            ui-sref-active>
                        <friend-item friend="friend"></friend-item>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>

        <ion-tab title="{{'REQUESTS' | translate }}">
            <ion-content class="friend-tab">
                <ion-list can-swipe="false">
                    <ion-item class="item item-divider"
                              ng-if="potentialFriends.followers.length > 0">
                        Вас добавили
                    </ion-item>
                    <ion-item class="item-avatar friend"
                              ng-repeat="user in potentialFriends.followers">
                        <user-item user="user"></user-item>
                    </ion-item>
                    <ion-item class="item item-divider"
                              ng-if="potentialFriends.followees.length > 0">
                        Вы добавили
                    </ion-item>
                    <ion-item class="item-avatar friend"
                              ng-repeat="user in potentialFriends.followees">
                        <user-item user="user"></user-item>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>

    </ion-tabs>

    <a class="action-button" href="#/app/search/noFriends">
        <button class="button icon ion-android-add btn-normal button-assertive waves-effect waves-light btn"></button>
    </a>
</ion-view>