<div>
    <img ng-if="friend.photoUrl" class="item-image" ng-src="{{friend.photoUrl}}">
    <div ng-if="!friend.photoUrl" class="item-image avatar-placeholder">
        <span ng-bind="friend.username.charAt(0)"></span>
    </div>
    <h2>{{friend.username}}</h2>
    <p ng-bind="friend.isOnline ? 'Онлайн' : 'Оффлайн'"></p>

    <ion-option-button class="button-positive button-outline icon ion-information-circled"
                       ng-click="share(item)">
    </ion-option-button>
    <ion-option-button class="button-assertive button-outline icon ion-trash-b"
                       ng-click="deleteFriend()">
    </ion-option-button>
</div>