<ion-view view-title="Fastmit">
    <ion-nav-buttons side="secondary">
        <a href="#/app/settings" class="button button-icon button-clear ion-gear-a"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="friend in topFriends">
                <friend-item friend="friend"></friend-item>
            </ion-item>
            <div class="item item-divider">
                Вас добавили
            </div>
            <ion-item ng-repeat="friend in requestingFriends">
                <friend-item friend="friend"></friend-item>
            </ion-item>
        </ion-list>
    </ion-content>

    <a class="action-button" href="#/app/chat/1">
        <button class="button icon ion-camera btn-normal button-balanced"></button>
    </a>
</ion-view>