<ion-view view-title="Fastmit">
    <ion-nav-buttons side="secondary">
        <a href="#/app/settings" class="button button-icon button-clear ion-gear-a"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div ng-repeat="friend in topFriends">
                <friend-item friend="friend"></friend-item>
            </div>
            <!--<div class="item item-divider">-->
                <!--Вас добавили-->
            <!--</div>-->
            <!--<div ng-repeat="friend in requestingFriends">-->
                <!--<friend-item friend="friend"></friend-item>-->
            <!--</div>-->
        </ion-list>
        <span ng-if="topFriends.length === 0">У вас 0 друзей.<br><b>Зачем так жить?</b></span>
    </ion-content>

    <a class="action-button" href="#/app/chat/1">
        <button class="button icon ion-camera btn-normal button-balanced"></button>
    </a>
</ion-view>