<ion-view view-title="{{ friend.username }}">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button class="button button-icon button-clear ion-android-arrow-back" ng-click="goBack()">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="chat">
            <div class="messages">
                <div ng-repeat="message in messages">
                    <message message="message"></message>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset custom-footer-bar">
        <a class="button button-icon icon ion-android-camera" ng-click="makePhoto()"></a>

        <textarea
            class="textarea"
            placeholder="Написать сообщение"
            on-return="sendText()"
            ng-model="text"
        ></textarea>

        <a class="button button-icon icon ion-android-send" ng-click="sendText()"></a>
    </ion-footer-bar>

    <image-editor close="sendPhoto(success)" ng-if="editMode"></image-editor>
</ion-view>