<ion-view view-title="Chat">
    <ion-content>

        <div class="chat">
            <div class="messages">
                <div ng-repeat="message in friend.correspondence" class="message">

                    <text ng-if="message.isText" message="message" delete="friend.correspondence.deleteMessage"></text>

                    <photo ng-if="message.isPhoto" message="message" ></photo>

                </div>
            </div>
        </div>


    </ion-content>
    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Type your message" on-return="" ng-model="message" />
        </label>
        <button class="button button-clear" ng-click="sendMessage()">
            Send
        </button>
    </ion-footer-bar>
</ion-view>