<ion-view view-title="{{ 'REGISTRATION' | translate }}">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button class="button-clear button-icon ion-chevron-left" ng-click="goBack()">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content scroll="false">
        <form name="registrationForm" class="login row row-center">
            <div class="list list-inset col col-80 col-offset-10">
                <div class="input-field">
                    <input id="username" type="text" name="username" ng-model="model.username" required ng-minlength="5">
                    <label for="username">{{ 'USERNAME' | translate }}</label>
                </div>
                <div class="input-field">
                    <input id="email" type="email" ng-model="model.email" name="email" required ng-pattern="emailPattern">
                    <label for="email">{{ 'EMAIL' | translate }}</label>
                </div>
                <div class="input-field">
                    <input id="password" type="password" name="password" ng-model="model.password" required ng-minlength="8">
                    <label for="password">{{ 'PASSWORD' | translate }}</label>
                </div>

                <div class="padding">
                    <button class="button" ng-click="register()"
                            ng-disabled="registrationForm.$invalid">
                        {{ 'SIGN_UP' | translate }}
                    </button>
                </div>
            </div>

        </form>
    </ion-content>
</ion-view>