.action-button {
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 20px;

  .button {
    height: 56px!important;
    width: 56px!important;
    border: 0 !important;
    border-radius: 50%;
    padding: 0!important;
    box-shadow: 2px 3px 6px #bbb;
  }
}