/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;
$positive:                        #0277BD !default;
$assertive:                       #E53935 !default;
$balanced:                        #4caf50 !default;
$bar-height:                      56px !default;

$roboto-font-path: "../lib/materialize/font/roboto/";
$icons-font-path: "../lib/materialize/font/material-design-icons/";

// Include all of Ionic
@import "../lib/ionic/scss/ionic";
@import "materialize";

@import "friend";
@import "search";
@import "sidebar";
@import "action-button";
@import "fonts";
@import "ionic-modifications";
@import "chat";
@import "login";
@import "editor";
@import "image";

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.page-content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
