$color-my-message: #AED581;
$color-not-my-message: #E0E0E0;

@mixin border-left-message($color) {
  border-left: 3px solid $color;
}

.custom-footer-bar {
  height: auto !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.textarea {
  color: #000;
  font-size: 16px;
  resize: none;
  max-height: 88px;
  margin-bottom: 4px;
  margin-right: 8px;
  margin-left: 8px;
  padding: 5px;
  align-items: center;
  border-radius: 4px;
  background: #eee;
  box-sizing: border-box;
}

.chat {
  > .messages {
    .message {
      margin: 15px 0;
      padding: 0 15px;
      display: flex;

      > .message-photo, .message-text {
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
        }

        > .info {
          display: flex;

          > .time {
            font-size: 10px;
//            font-style: italic;
          }
        }
      }

      > .message-text {
        max-width: 85%;
        padding: 7px 9px 0 9px;
        position: relative;

        > .text {
          overflow: hidden;
          white-space: normal;
          font-size: 14px;
          opacity: 0.9;
        }

        > .info {
          > .time {
            opacity: 0.6;
          }
        }
      }

      > .message-photo {
        position: relative;
        border-radius: 5px;
        width: 200px;
        height: 240px;
        padding: 4px;

        > .image-wrapper {
          border-radius: 5px;
          overflow: hidden;
          -webkit-filter: blur(15px);
          background: radial-gradient(ellipse at center, rgba(0,0,0,0.12)
                                                      0%,rgba(0,0,0,0.14)
                                                      6%,rgba(0,0,0,0.29)
                                                      61%,rgba(0,0,0,0.34)
                                                      77%,rgba(0,0,0,0.23) 100%);
          > .image {
            width: 100%;
            height: 100%;
            display: none;

            &.image[src] {
              display: block;
            }
          }
        }

        > .info {
          position: absolute;
          bottom: 2px;
          left: 0;
          width: 200px;
          padding: 0px 9px;
          color: #fff;

          > .state-transfer {
            > .icon {
              color: #fff;
            }
          }
        }
      }

      &.my-message {
        justify-content: flex-end;

        > .message-photo, .message-text {
          box-shadow: -1px 1px 10px rgba(0,0,0,0.5);

          &:after {
            right: -14px;
            border: 8px solid transparent;
            border-bottom: 8px solid $color-my-message;
            border-left: 8px solid $color-my-message;
          }

          > .info {
            justify-content: space-between;

            > .state-transfer {
              width: 10px;
              margin-left: 5px;
            }
          }
        }

        > .message-text {
          border-radius: 5px 5px 0 5px;
          background-color: $color-my-message;
        }

        > .message-photo {
          //border: 4px solid $color-my-message;
          background-color: $color-my-message;
        }
      }

      &.not-my-message {
        justify-content: flex-start;

        > .message-photo, .message-text {
          box-shadow: 1px 1px 10px rgba(0,0,0,0.5);

          &:after {
            left: -15px;
            border: 8px solid transparent;
            border-right: 8px solid $color-not-my-message;
            border-bottom: 8px solid $color-not-my-message;
          }

          > .info {
            justify-content: flex-end;
          }
        }

        > .message-text {
          border-radius: 5px 5px 5px 0;
          background-color: $color-not-my-message;
        }

        > .message-photo {
          background-color: $color-not-my-message;
          position: relative;

          > .state-loading {
            width: 45px;
            height: 45px;
            position: absolute;
            top: 100px;
            left: 77px;
            display: flex;
            justify-content: center;
            align-items: center;

            > i {
              font-size: 40px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
