$color-my-message: #FF0000;
$color-not-my-message: #36A9E1;

@mixin border-left-message($color) {
    border-left: 3px solid $color;
}

.chat {
    > .messages {
        > .card-custom {
            margin: 10px 5px;

            .message-wrapper {
                > .my-message {
                    @include border-left-message($color-my-message);
                }

                > .not-my-message {
                    @include border-left-message($color-not-my-message);
                }
            }

            .time {
                font-size: 12px;
                opacity: 0.6;
            }

            .text {
                overflow: hidden;
                white-space: normal;
            }

            .state-transfer {
                float: right;
            }
        }
    }
}

.photo-img-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > .photo-img {
        width: 100%;
        height: 100%;
    }
}

