.friends {

  .friend-tabs {
    &.tabs-top.tabs-striped {
      .tab-item.tab-item-active, .tab-item.activated {
        border-width: 0 0 4px 0 !important;
        border-color: $positive !important;
      }
    }

    .tab-item {
      margin-top: 1px !important;
    }
  }

  .tabs {
    justify-content: flex-start;
  }

  .friend-tab {
    top: 105px!important;
  }
}

.friend {
  .avatar-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

    background: $balanced;

    span {
      text-transform: uppercase;
      color: whitesmoke;
    }
  }

  .add-friend-button {
    border: 0;
  }
}