.settings {

  .action-button {
    position: absolute;
    bottom: -20px;
  }

  .current-user + .item-divider {
    z-index: 1;
  }

  .item-divider {
    background-color: $light;
    color: $positive;
    border-bottom: 0;
  }

  .item-divider + .item {
    border-top: 0;
  }

  .current-user {
    background-color: $positive;
    overflow: visible;

    h2 {
      color: $light;
    }

    p {
      color: rgba($stable, .5);
    }
  }
}