<ion-view view-title="{{ 'SETTINGS' | translate }}">
    <!--<ion-nav-bar class="bar-positive" align-title="center">-->
        <!--<ion-nav-back-button>-->
        <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->
    <ion-content class="settings">
        <div class="list">
            <div class="item item-avatar friend current-user">
                <friend-item friend="currentUser" no-options="true"></friend-item>
                <a class="action-button" href="#" ng-click="openCamera()">
                    <button class="button icon ion-android-camera btn-normal btn-floating button-stable waves-effect waves-light btn"></button>
                </a>
            </div>

            <div class="item item-divider"></div>
            <div class="item item-divider">Информация</div>
            <div class="item">
                <h2 ng-bind="currentUser.email"></h2>
                <p>Email</p>
            </div>

            <div class="item item-divider"></div>
            <div class="item item-divider">Настройки</div>

            <a class="item" href="#/app/change_password">
                Изменить пароль
            </a>
            <div class="item">
                Изменить язык
            </div>
            <div class="item item-button-right" ng-click="changeNotification()">
                Нотификации
                <div class="switch">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                    </label>
                </div>
                <!--<label class="checkbox">-->
                    <!--<input type="checkbox" ng-checked="settings.notification">-->
                <!--</label>-->
            </div>
        </div>

    </ion-content>
</ion-view>