<ion-view view-title="{{ 'LOGIN' | translate }}">
    <ion-nav-bar class="bar-positive" align-title="center">
    </ion-nav-bar>
    <ion-content scroll="false">
            <form name="loginForm" class="login row row-center">
                <div class="list list-inset col col-80 col-offset-10">
                    <div class="input-field">
                        <input id="username" type="text" name="username" ng-model="model.username" required ng-minlength="5">
                        <label for="username">{{ 'USERNAME' | translate }}</label>
                    </div>
                    <div class="input-field">
                        <input id="password" type="password" name="password" ng-model="model.password" required ng-minlength="8">
                        <label for="password">{{ 'PASSWORD' | translate }}</label>
                    </div>
                    <div class="padding">
                        <button class="button button-block button-positive waves-effect waves-light btn" ng-click="signIn()"
                                ng-disabled="loginForm.$invalid">
                            {{ 'SIGN_IN' | translate }}
                        </button>
                    </div>
                </div>
            </form>
            <div class="login-bottom row row-center">
                <div class="col col-50 text-left">
                    <button class="button button-clear button-stable" ng-click="goForgotPassword()">
                        {{ 'FORGOT' | translate }}?
                    </button>
                </div>
                <div class="col col-50 text-right">
                    <button class="button button-clear button-stable" ng-click="goRegistration()">
                        {{ 'REGISTRATION' | translate }}
                    </button>
                </div>
            </div>
    </ion-content>
</ion-view>